{% extends 'bootstrap/base.html' %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <!-- ... -->
  <div class="container">
<!--      <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>

      <ul class="nav navbar-nav">
          <li> <a href="{{ url_for('devices') }}">Device</a> </li>
          <li>  <a href="{{ url_for('ping') }}">Ping host</a> </li>
      </ul>
-->
   </div>
</div>
{% endblock %}

{% block content %}
<!--  <h1>Hello, Bootstrap</h1> -->
  <div class="container">
       {% block page_content%}{% endblock%}
  </div>
{% endblock %}